{% load staticfiles %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>DuCrat</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <link rel="icon" type="image/x-icon" href="{% static "images/logos/favicon.ico" %}">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static "pages/menu-search/css/component.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "pages/notification/notification.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "bower_components/ladda/dist/ladda-themeless.min.css" %}" />
        {% block styles %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/jquery.mCustomScrollbar.css" %}">
    </head>

    <body>
        {% csrf_token %}
        {% include 'tools/theme-loader.html' %}
        <div id="pcoded" class="pcoded">
            <div class="pcoded-container">
                {% include 'tools/app-navbar.html' %}

                <div class="pcoded-main-container">
                    <div class="main-body">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>        

        <script type="text/javascript" src="{% static "bower_components/jquery-slimscroll/js/jquery.slimscroll.js" %}"></script>
        <script type="text/javascript" src="{% static "bower_components/modernizr/js/modernizr.js" %}"></script>
        <script type="text/javascript" src="{% static "bower_components/modernizr/js/css-scrollbars.js" %}"></script>
        <script type="text/javascript" src="{% static "bower_components/ladda/dist/spin.min.js" %}"></script>
        <script type="text/javascript" src="{% static "bower_components/ladda/dist/ladda.min.js" %}"></script>
        <script type="text/javascript" src="{% static "bower_components/ladda/dist/ladda.jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "bower_components/masonry/masonry.pkgd.min.js" %}"></script>
        {% block script %}{% endblock %}

        <script type="text/javascript" src="{% static "js/pcoded.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.mCustomScrollbar.concat.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/bootstrap-growl.min.js" %}"></script>

        {% with 'i18n/'|add:LANGUAGE_CODE|add:'.js' as i18n_static %}
          <script type="text/javascript" src="{% static i18n_static %}"></script>
        {% endwith %}

        <script type="text/javascript" src="{% static "scripts/coreapp.js" %}"></script>
        <script type="text/javascript" src="{% static "scripts/ducrat.js" %}"></script>
    </body>
</html>