{% extends 'layouts/for_app.html' %}
{% load staticfiles %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-body">
            <div class="row">
				<div class="col-lg-4">
					<div class="btn-group d-flex m-b-20" role="group">
						<a href="{% url 'urls_u:user_post' user.username %}" class="btn btn-primary w-100"><i class="fas fa-file-alt"></i> Mis Articulos</a>
						<a href="{% url 'urls_articles:articles_creator' %}" class="btn btn-success w-100"><i class="fas fa-pen-alt"></i> Nuevo Articulo</a>
					</div>
					<div class="card">
						<div class="card-header">
							<h5><i class="icofont icofont-filter m-r-5"></i>Filter</h5>
						</div>
						<div class="card-block">
							<form action="#">
								<div class="form-group row">
									<div class="col-sm-12">
										<input type="text" class="form-control" placeholder="Job-title">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-12">
										<input type="text" class="form-control" placeholder="Location">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-12">
										<select class="form-control">
											<option>Select Job Type</option>
											<option>Full Time</option>
											<option>Part Time</option>
											<option>Remote</option>
										</select>
									</div>
								</div>
								<div class="text-right">
									<button type="submit" class="btn btn-primary">
										<i class="icofont icofont-job-search m-r-5"></i> Job Find
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="col-lg-8"></div>
            </div>
        </div>
    </div>
{% endblock %}
