{% extends 'layouts/for_auth.html' %}
{% load staticfiles %}
{% load i18n %}


{% block content %}
	<section class="login common-img-bg">
	    <div class="login p-fixed d-flex text-center bg-black-degraded">
	        <div class="auth-fluid">
	            <div class="row">
	                <div class="col-sm-12">
	                    <div class="login-card card-body auth-body">
	                        <form class="md-float-material">
	                            <div class="auth-box">
	                                <div class="text-center">
	                                    <img src="{% static "images/logos/logo-64.png" %}" alt="DuCrat">
	                                </div>
	                                <h3>{% trans 'Bienvenido a DuCrat' %}</h3>
	                                <p class="m-b-40">{% trans 'El mejor lugar para aprender, enseñar y compartir' %}</p>

	                                <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-facebook"><i class="fab fa-facebook-f"></i> {% trans 'Ingresar con Facebook' %}</a>
	                                <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-block btn-twitter"><i class="fab fa-twitter"></i> {% trans 'Ingresar con Twitter' %}</a>
	                                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block btn-google-plus"><i class="fab fa-google"></i> {% trans 'Ingresar con Google' %}</a>
	                                <p class="m-t-10 f-12">{% trans 'Al ingresar aceptas las' %} <a href="#">{% trans 'Condiciones del servicio' %}</a> {% trans 'y la' %} <a href="#">{% trans 'Politica de privacidad' %}</a> {% trans 'utilizadas por DuCrat.' %}</p>
	                                <hr/>
	                                <div class="row">
	                                    <div class="col-md-12">
	                                        <a href="#" class="btn btn-success btn-block"><i class="fa fa-university"></i> {% trans 'DuCrat para Negocios' %}</a>
	                                        <a href="#" class="btn btn-inverse btn-block"><i class="fa fa-users"></i> {% trans 'DuCrat para Padres' %}</a>
	                                    </div>
	                                </div>
	                            </div>
	                        </form>
	                    </div>
	                </div>
	                <div class="col-sm-12">
	                    <ul class="navbar reception-nav">
	                        <li><a href="#">{% trans 'Acerca de Ducrat' %}</a></li>
	                        <li><a href="#">{% trans 'Ayuda' %}</a></li>
	                        <li><a href="#">{% trans 'Blog' %}</a></li>
	                        <li><a href="#">{% trans 'Condiciones del Servicio' %}</a></li>
	                        <li><a href="#">{% trans 'Politica de Privacidad' %}</a></li>
	                        <li><a href="#">{% trans 'Instituciones Educativas' %}</a></li>
	                        <li><a href="#">{% trans 'Padres' %}</a></li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>

	<div class="aprende-ducrat-banner">
	    <div class="aprende-cont">
	        <div class="aprende-text">
	            {% trans 'Quieres aprender como funciona' %} <strong>DuCrat</strong><br>
	            <a href="#" class="btn btn-ducrat btn-sm m-t-10">{% trans 'Aprender' %}</a>
	        </div>
	    </div>
	</div>
{% endblock %}