{% load staticfiles %}
{% load i18n %}
<nav class="navbar header-navbar pcoded-header" pcoded-header-position="fixed">
    <div class="navbar-wrapper">
        <div class="navbar-logo">
            <a href="{% url 'urls_dash:dashboard_homepge' %}">
                <img src="{% static "logos/lineal-logo.png" %}" alt="DuCrat Logo" class="img-fluid" images="" />
            </a>
            <a class="mobile-options">
                <i class="ti-more">
                </i>
            </a>
        </div>
        <div class="navbar-container container-fluid">
            <ul class="nav-right">
                <li class="header-notification">
                    <a href="{% url 'urls_dash:dashboard_homepge' %}" title="{% trans 'Inicio' %}">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li class="header-notification">
                    <a href="{% url 'urls_courses:home_courses' %}" title="{% trans 'Cursos' %}">
                        <i class="fa fa-book"></i>
                    </a>
                </li>
                <li class="header-notification">
                    <a href="{% url 'urls_articles:home_articles' %}" title="{% trans 'Articulos' %}">
                        <i class="fas fa-file"></i>
                    </a>
                </li>
                <li class="header-notification">
                    <a href="#!">
                        <i class="fa fa-bell"></i>
                        <span class="badge bg-c-pink"></span>
                    </a>
                    <ul class="show-notification">
                        <li>
                            <h6>
                                Notifications
                            </h6>
                            <label class="label label-danger">
                                New
                            </label>
                        </li>
                        <li>
                            <div class="media">
                                <img alt="Generic placeholder image" class="d-flex align-self-center" src="../files/assets/images/user.png">
                                    <div class="media-body">
                                        <h5 class="notification-user">
                                            John Doe
                                        </h5>
                                        <p class="notification-msg">
                                            Lorem ipsum dolor sit amet, consectetuer elit.
                                        </p>
                                        <span class="notification-time">
                                            30 minutes ago
                                        </span>
                                    </div>
                                </img>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <img alt="Generic placeholder image" class="d-flex align-self-center" src="../files/assets/images/user.png">
                                    <div class="media-body">
                                        <h5 class="notification-user">
                                            Joseph William
                                        </h5>
                                        <p class="notification-msg">
                                            Lorem ipsum dolor sit amet, consectetuer elit.
                                        </p>
                                        <span class="notification-time">
                                            30 minutes ago
                                        </span>
                                    </div>
                                </img>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <img alt="Generic placeholder image" class="d-flex align-self-center" src="../files/assets/images/user.png">
                                    <div class="media-body">
                                        <h5 class="notification-user">
                                            Sara Soudein
                                        </h5>
                                        <p class="notification-msg">
                                            Lorem ipsum dolor sit amet, consectetuer elit.
                                        </p>
                                        <span class="notification-time">
                                            30 minutes ago
                                        </span>
                                    </div>
                                </img>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="header-notification">
                    <a class="displayChatbox" href="#!">
                        <i class="fas fa-comment-dots"></i>
                        <span class="badge bg-c-green"></span>
                    </a>
                </li>
                <li class="user-profile header-notification">
                    <a href="#!">
                        <img alt="User-Profile-Image" class="img-radius" src="{{ user.profile.get_avatar }}">
                        </img>
                    </a>
                    <ul class="show-notification profile-notification">
                        <li>
                            <a href="{% url 'urls_u:user_perfil' user.username %}">
                                <i class="fas fa-user"></i> {% trans 'Perfil' %}
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-book"></i> {% trans 'Mis Cursos' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'urls_u:user_post' user.username %}">
                                <i class="fas fa-file"></i> {% trans 'Mis Articulos' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'urls_settings:informacion_general' %}">
                                <i class="fas fa-cogs"></i> {% trans 'Configurar' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'urls_account:auth_user_salir' %}">
                                <i class="fas fa-power-off"></i> {% trans 'Salir' %}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>