{% load i18n %}

<div class="card">
    <div class="card-header">
        <h5>{% trans 'Opciones' %}</h5>
    </div>
    <div class="card-block">
    	<ul class="nav flex-column">
    		<li class="nav-item">
    			<a class="nav-link" href="{% url 'urls_settings:informacion_general' %}">{% trans 'Cuenta' %}</a>
		  	</li>
		  	<li class="nav-item">
    			<a class="nav-link" href="{% url 'urls_settings:informacion_perfil' %}">{% trans 'Perfil' %}</a>
		  	</li>
		  	<li class="nav-item">
    			<a class="nav-link" href="{% url 'urls_settings:informacion_academico' %}">{% trans 'Academico' %}</a>
		  	</li>
		  	<li class="nav-item">
    			<a class="nav-link" href="{% url 'urls_settings:informacion_password' %}">{% trans 'Contraseña' %}</a>
		  	</li>
		  	<li class="nav-item">
    			<a class="nav-link" href="{% url 'urls_settings:informacion_seguridad' %}">{% trans 'Privacidad y Seguridad' %}</a>
		  	</li>
		  	<li class="nav-item">
    			<a class="nav-link" href="{% url 'urls_settings:informacion_notificaciones' %}">{% trans 'Notificaciones' %}</a>
		  	</li>
		  	<li class="nav-item">
    			<a class="nav-link" href="{% url 'urls_settings:informacion_facturacion' %}">{% trans 'Facturación' %}</a>
		  	</li>
		  	<li class="nav-item">
    			<a class="nav-link" href="{% url 'urls_settings:informacion_blacklist' %}">{% trans 'Lista Negra' %}</a>
		  	</li>
		</ul>
    </div> 
</div>