{% extends 'layouts/for_app.html' %}
{% load staticfiles %}
{% load i18n %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-body">
            <div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="card">
						<div class="card-block">
							<div id="start-teach-tab-intro">
								<h3>Empesar a Enseñar</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue tortor nulla, non gravida ex tristique nec. Maecenas posuere eu massa nec malesuada. Praesent sit amet pulvinar magna, vitae convallis arcu. Vestibulum vitae ullamcorper dui. Etiam ligula purus, consequat eu iaculis vel, iaculis quis tellus. Mauris neque est, sagittis vitae vulputate eget, pretium id ligula. Maecenas ullamcorper tellus id vestibulum bibendum. Aenean libero massa, lobortis vitae finibus vitae, tincidunt quis massa. Sed elementum ex nec turpis efficitur rhoncus in rhoncus enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

								<div class="row">
									<div class="col-lg-4">
										<h4>{% trans 'SGA' %}</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue tortor nulla, non gravida ex tristique nec. Maecenas posuere eu massa nec malesuada. Praesent sit amet pulvinar magna, vitae convallis arcu. Vestibulum vitae ullamcorper dui. Etiam ligula purus, consequat eu iaculis vel, iaculis quis tellus. Mauris neque est, sagittis vitae vulputate eget, pretium id ligula. Maecenas ullamcorper tellus id vestibulum bibendum.</p>
									</div>
									<div class="col-lg-4">
										<h4>{% trans 'Tutorias' %}</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue tortor nulla, non gravida ex tristique nec. Maecenas posuere eu massa nec malesuada. Praesent sit amet pulvinar magna, vitae convallis arcu. Vestibulum vitae ullamcorper dui. Etiam ligula purus, consequat eu iaculis vel, iaculis quis tellus. Mauris neque est, sagittis vitae vulputate eget, pretium id ligula. Maecenas ullamcorper tellus id vestibulum bibendum.</p>
									</div>
									<div class="col-lg-4">
										<h4>{% trans 'MOC y MOOC' %}</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue tortor nulla, non gravida ex tristique nec. Maecenas posuere eu massa nec malesuada. Praesent sit amet pulvinar magna, vitae convallis arcu. Vestibulum vitae ullamcorper dui. Etiam ligula purus, consequat eu iaculis vel, iaculis quis tellus. Mauris neque est, sagittis vitae vulputate eget, pretium id ligula. Maecenas ullamcorper tellus id vestibulum bibendum.</p>
									</div>
								</div>
								<button class="btn btn-ducrat float-right m-t-15 m-b-15">{% trans 'Comenzar a Enseñar' %}</button>
							</div>

							<div id="start-teach-tab-info" class="hidden">
								<h3>{% trans 'Perfil Profesional' %}</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue tortor nulla, non gravida ex tristique nec. Maecenas posuere eu massa nec malesuada. Praesent sit amet pulvinar magna, vitae convallis arcu. Vestibulum vitae ullamcorper dui. Etiam ligula purus, consequat eu iaculis vel, iaculis quis tellus. Mauris neque est, sagittis vitae vulputate eget, pretium id ligula. Maecenas ullamcorper tellus id vestibulum bibendum. Aenean libero massa, lobortis vitae finibus vitae, tincidunt quis massa. Sed elementum ex nec turpis efficitur rhoncus in rhoncus enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

								<button class="btn btn-ducrat float-right m-t-15 m-b-15">{% trans 'Comenzar a Enseñar' %}</button>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
