{% load i18n %}

<div class="m-b-15">
    <div class="bg-white p-relative">
        <div class="card-block">
            <span class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip"></span>
            <div class="dropdown-menu dropdown-menu-right b-none services-list">
                {% if comment.user.id == user.id %}
                    <a class="dropdown-item" href="#">{% trans 'Eliminar Post' %}</a>
                {% else %}
                    <a class="dropdown-item" href="#">{% trans 'Link 1' %}</a>
                    <a class="dropdown-item" href="#">{% trans 'Link 2' %}</a>
                    <a class="dropdown-item" href="#">{% trans 'Bloquear este Post' %}</a>
                    <a class="dropdown-item" href="#">{% trans 'Reportar Post' %}</a>
                {% endif %}
            </div>
            
            <div class="media">
                <div class="media-left media-middle friend-box">
                    <a href="{% url 'urls_u:user_perfil' comment.user.username %}">
                        <img class="media-object img-radius m-r-20" alt="image" src="{{ comment.user.profile.get_avatar }}">
                    </a>
                </div>
                <div class="media-body">
                    <div class="chat-header">
                        <a href="{% url 'urls_u:user_perfil' comment.user.username %}">
                            {{ comment.user.get_full_name }}
                        </a>
                        {% if comment.share %}
                            {% if comment.share.user.id == user.id %}
                                {% trans 'compartio su publicacion' %}
                            {% else %}
                                {% trans 'compartio la publicacion de ' %}
                                <a href="{% url 'urls_u:user_perfil' comment.share.user.username %}">
                                    {{ comment.share.user.get_full_name }}
                                </a>
                            {% endif %}
                        {% endif %}

                        {% if comment.article and not chanel == 'articles' %}
                            {% trans 'comento el articulo' %} <a href="{% url 'urls_articles:article_details' comment.article.id comment.article.slug %}">{{ comment.article.title }}</a>
                        {% endif %}

                        {% if comment.taged_user %}
                            {% trans 'comento el perfil de ' %}
                            <a href="{% url 'urls_u:user_perfil' comment.taged_user.username %}">
                                {{ comment.taged_user.get_full_name }}
                            </a>
                        {% endif %}
                    </div>
                    <div class="f-13 text-muted">
                        {{ comment.created_at }}
                    </div>
                </div>
            </div>
        </div>

        {% if comment.comment %}
            <div class="card-block comment-post">
                <div class="timeline-details">
                    <p class="text-muted">{{ comment.get_comment|safe }}</p>
                </div>
            </div>
        {% endif %}

        {% if comment.share %}
            {% include 'comments/share_comment.html' with comment=comment.share user=user %}
        {% else %}
            {% if comment.images_all %}
                <div class="comment-images-content">
                    {% for img in comment.images_all %}
                        <div class="comment-image-item {{ comment.images_layout }}" style="background-image: url({{ img.image.url }});" data-target='{{ img.image.url }}'></div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}

        <div class="card-block b-b-theme b-t-theme social-msg">
            <a href="#" class="text-muted {% if comment.is_like %}i-like-this-post{% endif %} btn-xs feed-post-action-like" post="{{ comment.id }}">
                <i class="fas fa-heart"></i>
                <span class="b-r-theme">{% trans 'Me Gusta' %}</span>
            </a>
            <a href="#" class="text-muted feed-post-action-comment" post="{{ comment.id }}">
                <i class="fas fa-comments"></i>
                <span class="b-r-theme">{% trans 'Comentarios' %}</span>
            </a>
            <a href="#" class="text-muted feed-post-action-share" post="{{ comment.id }}">
                <i class="fas fa-share"></i>
                <span>{% trans 'Compartir' %}</span>
            </a>
        </div>
    </div>
</div>