{% load i18n %}

<div class="m-b-15">
    <div class="bg-white p-relative">
        <div class="card-block">
            <div class="media">
                <div class="media-left media-middle friend-box">
                    <a href="{% url 'urls_u:user_perfil' comment.user.username %}">
                        <img class="media-object img-radius m-r-20" alt="image" src="{{ comment.user.profile.get_avatar }}">
                    </a>
                </div>
                <div class="media-body">
                    <div class="chat-header">
                        <a href="{% url 'urls_u:user_perfil' comment.user.username %}">
                            {{ comment.user.get_full_name }}
                        </a>

                        {% if comment.article and not chanel == 'articles' %}
                            {% trans 'comento el articulo' %} <a href="{% url 'urls_articles:article_details' comment.article.id comment.article.slug %}">{{ comment.article.title }}</a>
                        {% endif %}
                    </div>
                    <div class="f-13 text-muted">
                        {{ comment.created_at }}
                    </div>
                </div>
            </div>
        </div>

        {% if comment.comment %}
            <div class="card-block comment-post">
                <div class="timeline-details">
                    <p class="text-muted">{{ comment.comment }}</p>
                </div>
            </div>
        {% endif %}

        {% if comment.images_all %}
            <div class="comment-images-content">
                {% for img in comment.images_all %}
                    <div class="comment-image-item {{ comment.images_layout }}" style="background-image: url({{ img.image.url }});" data-target='{{ img.image.url }}'></div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>