{% extends 'layouts/for_app.html' %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "pages/social-timeline/timeline.css" %}">
{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-body">
            <div class="row">
                <div class="col-md-3">Info 1</div>
                <div class="col-md-6">
                    {% include 'comments/tools/new_comment_card.html' with chanel='tagserach' %}
                </div>
                <div class="col-md-3">Info 2</div>
            </div>
        </div>
    </div>
    <div id="social-feed-post-content"></div>
{% endblock %}
