.article-content .article-header {
	padding: 120px 0;
	background: #F3F6F8;
	text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.article-content .article-title {
	margin: 20px 0;
}

.article-content .article-title input {
	height: 80px;
	font-size: 60px;
}
.article-card .card-header {
	padding: 120px 20px!important;
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
}

.article-card .article-title {
	margin: 50px 0;
}