form p {
    color: #000000;
}

.reception-nav a {
    color: #fff;
}

.reception-nav a:hover {
    font-weight: bold;
}

.bg-black-degraded {
    background: rgba(0, 0, 0, .5);
}

.aprende-ducrat-banner {
    top: 6px;
    left: -20px;
    position: absolute;
}

.aprende-ducrat-banner .aprende-cont {
    color: #fff!important;
    position: relative;
    padding: 10px;
    min-width: 200px;
    min-height: 200px;
    width: auto;
    height: auto;
    margin-left: 25px;
    border-radius: 10% 50% 50% 50%;
    display: flex;
    flex-direction: column;
    background-color: #233746;
    text-align: center;
}

.aprende-ducrat-banner .aprende-cont .aprende-text {
    position: absolute;
    left: 0px;
    top: 20px;
    padding: 25px;
    text-align: center;
}

.aprende-ducrat-banner .aprende-cont .aprende-text strong {
    font-size: 16px;
}

@media only screen and (max-width: 991px) {
    .aprende-ducrat-banner {
        display: none;
    }
}