{% extends 'layouts/for_app.html' %}
{% load staticfiles %}
{% load i18n %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static "pages/articles/articles.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "bower_components/summernote/summernote-bs4.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bower_components/cropper/css/cropper.css" %}">
{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-body">
            <div class="row">
				<div class="col-sm-8 offset-sm-2">
                    <div class="card">
                        <div class="card-block">
                        	<div class="article-content">
                        		<form method="post" id="article-form">
                        			{% csrf_token %}
	                        		<div class="article-header" id="article-header-content">
	                        			<label class="btn btn-ducrat btn-file" for="article-upload-cover">
                                            <input id="article-upload-cover" class="crop-image-upload" accept="image/x-png,image/jpeg" w_ratio="4" h_ratio="1" imagefor="article" type="file">
                                            <i class="fas fa-image"></i> {% trans 'Portada del Articulo' %}
                                        </label>
                                        <input type="hidden" name="article-cover" id="id-article-cover" value="">
	                        		</div>
	                        		<div class="article-title">
	                        			<input type="text" name="title" maxlength="64" placeholder="{% trans 'Titulo del Articulo' %}" class="form-control">
	                        		</div>
	                        		<div class="article-body">
	                        			<textarea name="comment" id="article-textarea"></textarea>
	                        		</div>

                                    <button class="btn btn-ducrat pull-right" type="submit">Guardar Articulo</button>
	                        	</form>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal in" id="uploader-images" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated fadeIn">
                <div class="card modal-body" id="uploader-images-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">{% trans 'Cerrar' %}</button>
                    <button type="button" class="btn btn-ducrat ladda-button" data-style="expand-right" id="uploader-images-action">{% trans 'Guardar Imagen' %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static "bower_components/summernote/summernote-bs4.js" %}"></script>
    <script src="{% static "bower_components/cropper/js/cropper.js" %}"></script>
    <script src="{% static "bower_components/cropper/js/jquery-cropper.js" %}"></script>
{% endblock %}
