{% extends 'layouts/for_app.html' %}
{% load staticfiles %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static "pages/articles/articles.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "pages/social-timeline/timeline.css" %}">
{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-body">
            <div class="row">
				<div class="col-lg-7">
					<div class="card article-card">
					    <div class="card-header" style="background-image: url({{ articulo.cover.url }});"></div>
					    <div class="card-block"><h3 class="article-title">{{ articulo.title }}</h3>{{ articulo.get_conent|safe }}</div>
					    <div class="card-footer">
					    </div>
					</div>
				</div>

				<div class="col-lg-5">
					{% include 'comments/tools/new_comment_card.html' with chanel='articles' %}
				</div>
            </div>
        </div>
    </div>
{% endblock %}
