{% load i18n %}

{% for article in articles %}
    {% include 'articles/one_article.html' %}
{% empty %}
	{% if chanel == 'me-articles' %}
		<div class="alert alert-info">Hey, publica algo cabron</div>
	{% elif chanel == 'you-articles' %}
		<div class="alert alert-info">No a publicado nada este cabron</div>
	{% else %}
		<div class="alert alert-info">No se encontro nada</div>
	{% endif %}
{% endfor %}