{% load i18n %}
{% load staticfiles %}

<div class="col-sm-12">
    <div class="card card-border-default">
        <div class="card-header">
            <a class="card-title" href="{% url 'urls_articles:article_details' article.id article.slug %}">
                {{ article.title }}
            </a>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-sm-12">
                    <p class="task-detail">{{ article.get_short_content }}</p>
                    <p class="task-due">
                        <strong class="label label-primary">
                            {{ article.created_at }}
                        </strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            
        </div>
    </div>
</div>