<div class="m-b-15">
    <div class="bg-white p-relative">
        <div class="input-group wall-elips">
            <span aria-expanded="false" aria-haspopup="true" class="dropdown-toggle addon-btn text-muted f-right wall-dropdown" data-toggle="dropdown" role="tooltip">
            </span>
            <div class="dropdown-menu dropdown-menu-right b-none services-list" style="position: absolute; transform: translate3d(0px, 0px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-end">
                <a class="dropdown-item" href="#">
                    Remove tag
                </a>
                <a class="dropdown-item" href="#">
                    Report Photo
                </a>
                <a class="dropdown-item" href="#">
                    Hide From Timeline
                </a>
                <a class="dropdown-item" href="#">
                    Blog User
                </a>
            </div>
        </div>
        <div class="card-block">
            <div class="media">
                <div class="media-left media-middle friend-box">
                    <a href="#">
                        <img alt="" class="media-object img-radius m-r-20" src="../files/assets/images/avatar-2.jpg">
                        </img>
                    </a>
                </div>
                <div class="media-body">
                    <div class="chat-header">
                        Josephin Doe posted on your timeline
                    </div>
                    <div class="f-13 text-muted">
                        50 minutes ago
                    </div>
                </div>
            </div>
        </div>
        <div class="lightgallery-popup" id="lightgallery">
            <div class="" data-responsive="../files/assets/images/timeline/img1.jpg 375, img/1-480.jpg 480, img/1.jpg 800" data-src="../files/assets/images/timeline/img1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                <a href="">
                    <img alt="" class="img-fluid width-100" src="../files/assets/images/timeline/img1.jpg">
                    </img>
                </a>
            </div>
        </div>
        <div class="card-block">
            <div class="timeline-details">
                <div class="chat-header">
                    Josephin Doe posted on your timeline
                </div>
                <p class="text-muted">
                    lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
     laboris nisi ut aliquip ex ea
                </p>
            </div>
        </div>
        <div class="card-block b-b-theme b-t-theme social-msg">
            <a href="#">
                <i class="icofont icofont-heart-alt text-muted">
                </i>
                <span class="b-r-theme">
                    Like (20)
                </span>
            </a>
            <a href="#">
                <i class="icofont icofont-comment text-muted">
                </i>
                <span class="b-r-theme">
                    Comments (25)
                </span>
            </a>
            <a href="#">
                <i class="icofont icofont-share text-muted">
                </i>
                <span>
                    Share (10)
                </span>
            </a>
        </div>
        <div class="card-block user-box">
            <div class="p-b-20">
                <span class="f-14">
                    <a href="#">
                        Comments (110)
                    </a>
                </span>
                <span class="f-right">
                    see all comments
                </span>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="Generic placeholder image" class="media-object img-radius m-r-20" src="../files/assets/images/avatar-1.jpg">
                    </img>
                </a>
                <div class="media-body b-b-theme social-client-description">
                    <div class="chat-header">
                        About Marta Williams
                        <span class="text-muted">
                            Jane 04, 2015
                        </span>
                    </div>
                    <p class="text-muted">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
     took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="Generic placeholder image" class="media-object img-radius m-r-20" src="../files/assets/images/avatar-2.jpg">
                    </img>
                </a>
                <div class="media-body b-b-theme social-client-description">
                    <div class="chat-header">
                        About Marta Williams
                        <span class="text-muted">
                            Jane 10, 2015
                        </span>
                    </div>
                    <p class="text-muted">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
     took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="Generic placeholder image" class="media-object img-radius m-r-20" src="../files/assets/images/user.png">
                    </img>
                </a>
                <div class="media-body">
                    <form class="">
                        <div class="">
                            <textarea class="f-13 form-control msg-send" cols="10" placeholder="Write something....." required="" rows="3">
                            </textarea>
                            <div class="text-right m-t-20">
                                <a class="btn btn-primary waves-effect waves-light" href="#">
                                    Post
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m-b-15">
    <div class="bg-white p-relative">
        <div class="input-group wall-elips">
            <span aria-expanded="false" aria-haspopup="true" class="dropdown-toggle addon-btn text-muted f-right wall-dropdown" data-toggle="dropdown" role="tooltip">
            </span>
            <div class="dropdown-menu dropdown-menu-right b-none services-list" style="position: absolute; transform: translate3d(0px, 0px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-end">
                <a class="dropdown-item" href="#">
                    Remove tag
                </a>
                <a class="dropdown-item" href="#">
                    Report Photo
                </a>
                <a class="dropdown-item" href="#">
                    Hide From Timeline
                </a>
                <a class="dropdown-item" href="#">
                    Blog User
                </a>
            </div>
        </div>
        <div class="card-block">
            <div class="media">
                <div class="media-left media-middle friend-box">
                    <a href="#">
                        <img alt="" class="media-object img-radius m-r-20" src="../files/assets/images/avatar-2.jpg">
                        </img>
                    </a>
                </div>
                <div class="media-body">
                    <div class="chat-header">
                        Josephin Doe posted on your timeline
                    </div>
                    <div class="f-13 text-muted">
                        50 minutes ago
                    </div>
                </div>
            </div>
        </div>
        <div class="lightgallery-popup" id="lightgallery">
            <div class="" data-responsive="../files/assets/images/timeline/img1.jpg 375, img/1-480.jpg 480, img/1.jpg 800" data-src="../files/assets/images/timeline/img1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                <a href="">
                    <img alt="" class="img-fluid width-100" src="../files/assets/images/timeline/img1.jpg">
                    </img>
                </a>
            </div>
        </div>
        <div class="card-block">
            <div class="timeline-details">
                <div class="chat-header">
                    Josephin Doe posted on your timeline
                </div>
                <p class="text-muted">
                    lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
     laboris nisi ut aliquip ex ea
                </p>
            </div>
        </div>
        <div class="card-block b-b-theme b-t-theme social-msg">
            <a href="#">
                <i class="icofont icofont-heart-alt text-muted">
                </i>
                <span class="b-r-theme">
                    Like (20)
                </span>
            </a>
            <a href="#">
                <i class="icofont icofont-comment text-muted">
                </i>
                <span class="b-r-theme">
                    Comments (25)
                </span>
            </a>
            <a href="#">
                <i class="icofont icofont-share text-muted">
                </i>
                <span>
                    Share (10)
                </span>
            </a>
        </div>
        <div class="card-block user-box">
            <div class="p-b-20">
                <span class="f-14">
                    <a href="#">
                        Comments (110)
                    </a>
                </span>
                <span class="f-right">
                    see all comments
                </span>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="Generic placeholder image" class="media-object img-radius m-r-20" src="../files/assets/images/avatar-1.jpg">
                    </img>
                </a>
                <div class="media-body b-b-theme social-client-description">
                    <div class="chat-header">
                        About Marta Williams
                        <span class="text-muted">
                            Jane 04, 2015
                        </span>
                    </div>
                    <p class="text-muted">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
     took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="Generic placeholder image" class="media-object img-radius m-r-20" src="../files/assets/images/avatar-2.jpg">
                    </img>
                </a>
                <div class="media-body b-b-theme social-client-description">
                    <div class="chat-header">
                        About Marta Williams
                        <span class="text-muted">
                            Jane 10, 2015
                        </span>
                    </div>
                    <p class="text-muted">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
     took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="Generic placeholder image" class="media-object img-radius m-r-20" src="../files/assets/images/user.png">
                    </img>
                </a>
                <div class="media-body">
                    <form class="">
                        <div class="">
                            <textarea class="f-13 form-control msg-send" cols="10" placeholder="Write something....." required="" rows="3">
                            </textarea>
                            <div class="text-right m-t-20">
                                <a class="btn btn-primary waves-effect waves-light" href="#">
                                    Post
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m-b-15">
    <div class="bg-white p-relative">
        <div class="input-group wall-elips">
            <span aria-expanded="false" aria-haspopup="true" class="dropdown-toggle addon-btn text-muted f-right wall-dropdown" data-toggle="dropdown" role="tooltip">
            </span>
            <div class="dropdown-menu dropdown-menu-right b-none services-list" style="position: absolute; transform: translate3d(0px, 0px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-end">
                <a class="dropdown-item" href="#">
                    Remove tag
                </a>
                <a class="dropdown-item" href="#">
                    Report Photo
                </a>
                <a class="dropdown-item" href="#">
                    Hide From Timeline
                </a>
                <a class="dropdown-item" href="#">
                    Blog User
                </a>
            </div>
        </div>
        <div class="card-block">
            <div class="media">
                <div class="media-left media-middle friend-box">
                    <a href="#">
                        <img alt="" class="media-object img-radius m-r-20" src="../files/assets/images/avatar-2.jpg">
                        </img>
                    </a>
                </div>
                <div class="media-body">
                    <div class="chat-header">
                        Josephin Doe posted on your timeline
                    </div>
                    <div class="f-13 text-muted">
                        50 minutes ago
                    </div>
                </div>
            </div>
        </div>
        <div class="lightgallery-popup" id="lightgallery">
            <div class="" data-responsive="../files/assets/images/timeline/img1.jpg 375, img/1-480.jpg 480, img/1.jpg 800" data-src="../files/assets/images/timeline/img1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                <a href="">
                    <img alt="" class="img-fluid width-100" src="../files/assets/images/timeline/img1.jpg">
                    </img>
                </a>
            </div>
        </div>
        <div class="card-block">
            <div class="timeline-details">
                <div class="chat-header">
                    Josephin Doe posted on your timeline
                </div>
                <p class="text-muted">
                    lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
     laboris nisi ut aliquip ex ea
                </p>
            </div>
        </div>
        <div class="card-block b-b-theme b-t-theme social-msg">
            <a href="#">
                <i class="icofont icofont-heart-alt text-muted">
                </i>
                <span class="b-r-theme">
                    Like (20)
                </span>
            </a>
            <a href="#">
                <i class="icofont icofont-comment text-muted">
                </i>
                <span class="b-r-theme">
                    Comments (25)
                </span>
            </a>
            <a href="#">
                <i class="icofont icofont-share text-muted">
                </i>
                <span>
                    Share (10)
                </span>
            </a>
        </div>
        <div class="card-block user-box">
            <div class="p-b-20">
                <span class="f-14">
                    <a href="#">
                        Comments (110)
                    </a>
                </span>
                <span class="f-right">
                    see all comments
                </span>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="Generic placeholder image" class="media-object img-radius m-r-20" src="../files/assets/images/avatar-1.jpg">
                    </img>
                </a>
                <div class="media-body b-b-theme social-client-description">
                    <div class="chat-header">
                        About Marta Williams
                        <span class="text-muted">
                            Jane 04, 2015
                        </span>
                    </div>
                    <p class="text-muted">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
     took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="Generic placeholder image" class="media-object img-radius m-r-20" src="../files/assets/images/avatar-2.jpg">
                    </img>
                </a>
                <div class="media-body b-b-theme social-client-description">
                    <div class="chat-header">
                        About Marta Williams
                        <span class="text-muted">
                            Jane 10, 2015
                        </span>
                    </div>
                    <p class="text-muted">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
     took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="Generic placeholder image" class="media-object img-radius m-r-20" src="../files/assets/images/user.png">
                    </img>
                </a>
                <div class="media-body">
                    <form class="">
                        <div class="">
                            <textarea class="f-13 form-control msg-send" cols="10" placeholder="Write something....." required="" rows="3">
                            </textarea>
                            <div class="text-right m-t-20">
                                <a class="btn btn-primary waves-effect waves-light" href="#">
                                    Post
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m-b-15">
    <div class="bg-white p-relative">
        <div class="input-group wall-elips">
            <span aria-expanded="false" aria-haspopup="true" class="dropdown-toggle addon-btn text-muted f-right wall-dropdown" data-toggle="dropdown" role="tooltip">
            </span>
            <div class="dropdown-menu dropdown-menu-right b-none services-list" style="position: absolute; transform: translate3d(0px, 0px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-end">
                <a class="dropdown-item" href="#">
                    Remove tag
                </a>
                <a class="dropdown-item" href="#">
                    Report Photo
                </a>
                <a class="dropdown-item" href="#">
                    Hide From Timeline
                </a>
                <a class="dropdown-item" href="#">
                    Blog User
                </a>
            </div>
        </div>
        <div class="card-block">
            <div class="media">
                <div class="media-left media-middle friend-box">
                    <a href="#">
                        <img alt="" class="media-object img-radius m-r-20" src="../files/assets/images/avatar-2.jpg">
                        </img>
                    </a>
                </div>
                <div class="media-body">
                    <div class="chat-header">
                        Josephin Doe posted on your timeline
                    </div>
                    <div class="f-13 text-muted">
                        50 minutes ago
                    </div>
                </div>
            </div>
        </div>
        <div class="lightgallery-popup" id="lightgallery">
            <div class="" data-responsive="../files/assets/images/timeline/img1.jpg 375, img/1-480.jpg 480, img/1.jpg 800" data-src="../files/assets/images/timeline/img1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                <a href="">
                    <img alt="" class="img-fluid width-100" src="../files/assets/images/timeline/img1.jpg">
                    </img>
                </a>
            </div>
        </div>
        <div class="card-block">
            <div class="timeline-details">
                <div class="chat-header">
                    Josephin Doe posted on your timeline
                </div>
                <p class="text-muted">
                    lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
     laboris nisi ut aliquip ex ea
                </p>
            </div>
        </div>
        <div class="card-block b-b-theme b-t-theme social-msg">
            <a href="#">
                <i class="icofont icofont-heart-alt text-muted">
                </i>
                <span class="b-r-theme">
                    Like (20)
                </span>
            </a>
            <a href="#">
                <i class="icofont icofont-comment text-muted">
                </i>
                <span class="b-r-theme">
                    Comments (25)
                </span>
            </a>
            <a href="#">
                <i class="icofont icofont-share text-muted">
                </i>
                <span>
                    Share (10)
                </span>
            </a>
        </div>
        <div class="card-block user-box">
            <div class="p-b-20">
                <span class="f-14">
                    <a href="#">
                        Comments (110)
                    </a>
                </span>
                <span class="f-right">
                    see all comments
                </span>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="Generic placeholder image" class="media-object img-radius m-r-20" src="../files/assets/images/avatar-1.jpg">
                    </img>
                </a>
                <div class="media-body b-b-theme social-client-description">
                    <div class="chat-header">
                        About Marta Williams
                        <span class="text-muted">
                            Jane 04, 2015
                        </span>
                    </div>
                    <p class="text-muted">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
     took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="Generic placeholder image" class="media-object img-radius m-r-20" src="../files/assets/images/avatar-2.jpg">
                    </img>
                </a>
                <div class="media-body b-b-theme social-client-description">
                    <div class="chat-header">
                        About Marta Williams
                        <span class="text-muted">
                            Jane 10, 2015
                        </span>
                    </div>
                    <p class="text-muted">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
     took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="Generic placeholder image" class="media-object img-radius m-r-20" src="../files/assets/images/user.png">
                    </img>
                </a>
                <div class="media-body">
                    <form class="">
                        <div class="">
                            <textarea class="f-13 form-control msg-send" cols="10" placeholder="Write something....." required="" rows="3">
                            </textarea>
                            <div class="text-right m-t-20">
                                <a class="btn btn-primary waves-effect waves-light" href="#">
                                    Post
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m-b-15">
    <div class="bg-white p-relative">
        <div class="input-group wall-elips">
            <span aria-expanded="false" aria-haspopup="true" class="dropdown-toggle addon-btn text-muted f-right wall-dropdown" data-toggle="dropdown" role="tooltip">
            </span>
            <div class="dropdown-menu dropdown-menu-right b-none services-list" style="position: absolute; transform: translate3d(0px, 0px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-end">
                <a class="dropdown-item" href="#">
                    Remove tag
                </a>
                <a class="dropdown-item" href="#">
                    Report Photo
                </a>
                <a class="dropdown-item" href="#">
                    Hide From Timeline
                </a>
                <a class="dropdown-item" href="#">
                    Blog User
                </a>
            </div>
        </div>
        <div class="card-block">
            <div class="media">
                <div class="media-left media-middle friend-box">
                    <a href="#">
                        <img alt="" class="media-object img-radius m-r-20" src="../files/assets/images/avatar-2.jpg">
                        </img>
                    </a>
                </div>
                <div class="media-body">
                    <div class="chat-header">
                        Josephin Doe posted on your timeline
                    </div>
                    <div class="f-13 text-muted">
                        50 minutes ago
                    </div>
                </div>
            </div>
        </div>
        <div class="lightgallery-popup" id="lightgallery">
            <div class="" data-responsive="../files/assets/images/timeline/img1.jpg 375, img/1-480.jpg 480, img/1.jpg 800" data-src="../files/assets/images/timeline/img1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                <a href="">
                    <img alt="" class="img-fluid width-100" src="../files/assets/images/timeline/img1.jpg">
                    </img>
                </a>
            </div>
        </div>
        <div class="card-block">
            <div class="timeline-details">
                <div class="chat-header">
                    Josephin Doe posted on your timeline
                </div>
                <p class="text-muted">
                    lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
     laboris nisi ut aliquip ex ea
                </p>
            </div>
        </div>
        <div class="card-block b-b-theme b-t-theme social-msg">
            <a href="#">
                <i class="icofont icofont-heart-alt text-muted">
                </i>
                <span class="b-r-theme">
                    Like (20)
                </span>
            </a>
            <a href="#">
                <i class="icofont icofont-comment text-muted">
                </i>
                <span class="b-r-theme">
                    Comments (25)
                </span>
            </a>
            <a href="#">
                <i class="icofont icofont-share text-muted">
                </i>
                <span>
                    Share (10)
                </span>
            </a>
        </div>
        <div class="card-block user-box">
            <div class="p-b-20">
                <span class="f-14">
                    <a href="#">
                        Comments (110)
                    </a>
                </span>
                <span class="f-right">
                    see all comments
                </span>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="Generic placeholder image" class="media-object img-radius m-r-20" src="../files/assets/images/avatar-1.jpg">
                    </img>
                </a>
                <div class="media-body b-b-theme social-client-description">
                    <div class="chat-header">
                        About Marta Williams
                        <span class="text-muted">
                            Jane 04, 2015
                        </span>
                    </div>
                    <p class="text-muted">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
     took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="Generic placeholder image" class="media-object img-radius m-r-20" src="../files/assets/images/avatar-2.jpg">
                    </img>
                </a>
                <div class="media-body b-b-theme social-client-description">
                    <div class="chat-header">
                        About Marta Williams
                        <span class="text-muted">
                            Jane 10, 2015
                        </span>
                    </div>
                    <p class="text-muted">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
     took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="Generic placeholder image" class="media-object img-radius m-r-20" src="../files/assets/images/user.png">
                    </img>
                </a>
                <div class="media-body">
                    <form class="">
                        <div class="">
                            <textarea class="f-13 form-control msg-send" cols="10" placeholder="Write something....." required="" rows="3">
                            </textarea>
                            <div class="text-right m-t-20">
                                <a class="btn btn-primary waves-effect waves-light" href="#">
                                    Post
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m-b-15">
    <div class="bg-white p-relative">
        <div class="input-group wall-elips">
            <span aria-expanded="false" aria-haspopup="true" class="dropdown-toggle addon-btn text-muted f-right wall-dropdown" data-toggle="dropdown" role="tooltip">
            </span>
            <div class="dropdown-menu dropdown-menu-right b-none services-list" style="position: absolute; transform: translate3d(0px, 0px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-end">
                <a class="dropdown-item" href="#">
                    Remove tag
                </a>
                <a class="dropdown-item" href="#">
                    Report Photo
                </a>
                <a class="dropdown-item" href="#">
                    Hide From Timeline
                </a>
                <a class="dropdown-item" href="#">
                    Blog User
                </a>
            </div>
        </div>
        <div class="card-block">
            <div class="media">
                <div class="media-left media-middle friend-box">
                    <a href="#">
                        <img alt="" class="media-object img-radius m-r-20" src="../files/assets/images/avatar-2.jpg">
                        </img>
                    </a>
                </div>
                <div class="media-body">
                    <div class="chat-header">
                        Josephin Doe posted on your timeline
                    </div>
                    <div class="f-13 text-muted">
                        50 minutes ago
                    </div>
                </div>
            </div>
        </div>
        <div class="lightgallery-popup" id="lightgallery">
            <div class="" data-responsive="../files/assets/images/timeline/img1.jpg 375, img/1-480.jpg 480, img/1.jpg 800" data-src="../files/assets/images/timeline/img1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                <a href="">
                    <img alt="" class="img-fluid width-100" src="../files/assets/images/timeline/img1.jpg">
                    </img>
                </a>
            </div>
        </div>
        <div class="card-block">
            <div class="timeline-details">
                <div class="chat-header">
                    Josephin Doe posted on your timeline
                </div>
                <p class="text-muted">
                    lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
     laboris nisi ut aliquip ex ea
                </p>
            </div>
        </div>
        <div class="card-block b-b-theme b-t-theme social-msg">
            <a href="#">
                <i class="icofont icofont-heart-alt text-muted">
                </i>
                <span class="b-r-theme">
                    Like (20)
                </span>
            </a>
            <a href="#">
                <i class="icofont icofont-comment text-muted">
                </i>
                <span class="b-r-theme">
                    Comments (25)
                </span>
            </a>
            <a href="#">
                <i class="icofont icofont-share text-muted">
                </i>
                <span>
                    Share (10)
                </span>
            </a>
        </div>
        <div class="card-block user-box">
            <div class="p-b-20">
                <span class="f-14">
                    <a href="#">
                        Comments (110)
                    </a>
                </span>
                <span class="f-right">
                    see all comments
                </span>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="Generic placeholder image" class="media-object img-radius m-r-20" src="../files/assets/images/avatar-1.jpg">
                    </img>
                </a>
                <div class="media-body b-b-theme social-client-description">
                    <div class="chat-header">
                        About Marta Williams
                        <span class="text-muted">
                            Jane 04, 2015
                        </span>
                    </div>
                    <p class="text-muted">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
     took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="Generic placeholder image" class="media-object img-radius m-r-20" src="../files/assets/images/avatar-2.jpg">
                    </img>
                </a>
                <div class="media-body b-b-theme social-client-description">
                    <div class="chat-header">
                        About Marta Williams
                        <span class="text-muted">
                            Jane 10, 2015
                        </span>
                    </div>
                    <p class="text-muted">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
     took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="Generic placeholder image" class="media-object img-radius m-r-20" src="../files/assets/images/user.png">
                    </img>
                </a>
                <div class="media-body">
                    <form class="">
                        <div class="">
                            <textarea class="f-13 form-control msg-send" cols="10" placeholder="Write something....." required="" rows="3">
                            </textarea>
                            <div class="text-right m-t-20">
                                <a class="btn btn-primary waves-effect waves-light" href="#">
                                    Post
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>