{% load i18n %}

<div class="card bg-white" id="social-feed-box" chanel='{% if chanel == 'dashboard' %}{"chanel":"profile-me", "user":"{{ user.username }}"}
                                                        {% elif chanel == 'profile' and user.id == per.id %}{"chanel":"profile-me", "user":"{{ per.username }}"}
                                                        {% elif chanel == 'profile' and user.id != per.id %}{"chanel":"profile-you", "user":"{{ per.username }}"}
                                                        {% elif chanel == 'articles' %}{"chanel":"articles", "user":"{{ articulo.id }}"}
                                                        {% elif chanel == 'tagserach' %}{"chanel":"tag-serach", "user":"{{ tag }}"}{% endif %}'>
    <form method="post" id="social-feed-form">
        <div class="post-new-contain row card-block">
            <div class="col-md-1 col-xs-3 post-profile">
                <img alt="" class="img-fluid" src="{{ user.profile.get_avatar }}">
                </img>
            </div>
            <div class="col-md-11 col-xs-9">
                <div class="">
                    <textarea id="social-feed-textarea" class="form-control post-input" name="post-comment" cols="10" id="post-message" placeholder="{% trans '¿Qué estas pensando?' %}" required="" rows="3"></textarea>
                    <div id="social-feed-media-content" class="row"></div>
                </div>
            </div>
        </div>
        <div class="post-new-footer b-t-muted p-15">
            <input accept="image/x-png,image/gif,image/jpeg" id="user-upload-photo" type="file" />

            <button class="btn btn-ducrat btn-sm waves-effect waves-light f-right ladda-button" data-style="expand-right" id="social-feed-post" type="button">
                {% trans 'Publicar' %}
            </button>
        </div>
    </form>
    <div class="card-loader"><i class="fas fa-spinner fa-spin"></i></div>
</div>

<div id="social-feed-post-content"></div>
<div id="social-feed-load-comments"><i class=""></i></div>

<div class="modal inmodal in" id="social-feed-share" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn">
            <div class="modal-body">
                <textarea class="form-control" id="feed-post-textarea-share" placeholder="{% trans 'Escribe un comentario...' %}"></textarea>
                <div id="feed-share-post-subpost"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">{% trans 'Cerrar' %}</button>
                <button type="button" class="btn btn-ducrat ladda-button" data-style="expand-right" id="social-feed-share-post">{% trans 'Compartir' %}</button>
            </div>
        </div>
    </div>
</div>