{% extends 'layouts/for_app.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-body">
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <div class="row">
                        <div class="col-sm-3">{% include 'tools/settings-navbar.html' %}</div>
                        <div class="col-sm-9">
                            <div class="card">
                                <div class="card-header">
                                    <h5>{% trans 'Cuenta' %}</h5>
                                    <span>{% trans 'Información general la cuenta.' %}</span>
                                </div>
                                <div class="card-block">
                                    <form class="form-vertical" method="post">
                                        {% csrf_token %}
                                        {% bootstrap_form form %}

                                        <button type="submit" class="btn btn-ducrat ladda-button" id="config-form-account" data-style="expand-left">
                                            {% trans 'Guardar Cambios' %}
                                        </button>
                                    </form>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static "bower_components/jquery-validation/js/jquery.validate.js" %}"></script>
    <script type="text/javascript" src="{% static "bower_components/jquery-validation/js/additional-methods.js" %}"></script>
{% endblock %}