{% extends 'layouts/for_app.html' %}
{% load staticfiles %}
{% load i18n %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "pages/articles/articles.css" %}">
{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="social-timeline-left">
                        <div class="card">
                            <div class="social-profile">
                                <img alt="" class="img-fluid width-100" id="user-profile-photo" src="{{ per.profile.get_avatar }}">
                                </img>
                            </div>
                            <div class="card-block social-follower">
                                <h4>
                                    {{ per.get_full_name }}
                                </h4>
                                <h5>{{ per.profile.biografia }}</h5>

                                <div class="btn-group d-flex m-t-20" role="group">
                                    {% if not per.id == user.id %}
                                        <a class="btn btn-info waves-effect waves-light ladda-button proc-users-follow {% if per.is_follow %}is-follow{% endif %} w-100" data-style="expand-right" follow-message="{% trans 'Seguir' %}" following-message="{% trans 'Siguiendo' %}" unfollow-message="{% trans 'Dejar de Seguir' %}" username="{{ per.username }}"  href="#">{% if per.is_follow %}{% trans 'Siguiendo' %}{% else %}{% trans 'Seguir' %}{% endif %}</a> 
                                        <a class="btn btn-ducrat waves-effect waves-light w-100" href="#">{% trans 'Enviar Mensaje' %}</a> 
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    {% if per.id == user.id %}
                        <div class="row" id="articles-result-content" chanel='{"chanel":"me-articles", "user":"{{ user.username }}"}'></div>
                    {% else %}
                        <div class="row" id="articles-result-content" chanel='{"chanel":"you-articles", "user":"{{ per.username }}"}'></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
