{% extends 'layouts/for_app.html' %}
{% load staticfiles %}
{% load i18n %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static "pages/social-timeline/timeline.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bower_components/cropper/css/cropper.css" %}">
{% endblock %}

{% block content %}
<div class="page-wrapper">
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <div class="content social-timeline">
                        <div class="">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="social-wallpaper">
                                        <img alt="" class="img-fluid width-100" id="user-profile-cover" src="{{ per.profile.get_cover }}"/>
                                        {% if per.id == user.id %}
	                                        <div class="profile-hvr">
	                                            <label class="btn btn-ducrat btn-file" for="profile-user-upload-cover">
                                                    <input id="profile-user-upload-cover" class="crop-image-upload" accept="image/x-png,image/jpeg" w_ratio="4" h_ratio="1" imagefor="cover" type="file">
                                                    <i class="fas fa-image"></i> {% trans 'Cambiar imagen' %}
                                                </label>
	                                        </div>
	                                    {% endif %}
                                    </div>

                                    {% if not per.id == user.id %}
	                                    <div class="timeline-btn">
	                                        <a class="btn btn-info waves-effect waves-light ladda-button proc-users-follow {% if per.is_follow %}is-follow{% endif %}" data-style="expand-right" follow-message="{% trans 'Seguir' %}" following-message="{% trans 'Siguiendo' %}" unfollow-message="{% trans 'Dejar de Seguir' %}" username="{{ per.username }}"  href="#">{% if per.is_follow %}{% trans 'Siguiendo' %}{% else %}{% trans 'Seguir' %}{% endif %}</a> 
	                                        <a class="btn btn-ducrat waves-effect waves-light" href="#">{% trans 'Enviar Mensaje' %}</a> 
	                                    </div>
	                                {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-xs-12">
                                    <div class="social-timeline-left">
                                        <div class="card">
                                            <div class="social-profile">
                                                <img alt="" class="img-fluid width-100" id="user-profile-photo" src="{{ per.profile.get_avatar }}">
                                                	{% if per.id == user.id %}
	                                                    <div class="profile-hvr m-t-15">
	                                                       <label class="btn btn-ducrat btn-file" for="profile-user-upload-profile">
                                                                <input id="profile-user-upload-profile" class="crop-image-upload" accept="image/x-png,image/jpeg" w_ratio="1" h_ratio="1" imagefor="profile" type="file">
                                                                <i class="fas fa-image"></i> {% trans 'Cambiar imagen' %}
                                                            </label>
	                                                    </div>
	                                                {% endif %}
                                                </img>
                                            </div>
                                            <div class="card-block social-follower">
                                                <h4>
                                                    {{ per.get_full_name }}
                                                </h4>
                                                <h5>{{ per.profile.biografia }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-9 col-lg-8 col-md-8 col-xs-12 ">
                                    <div class="card social-tabs">
                                        <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">{% trans 'Post' %}</a>
                                                <div class="slide"></div>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#about" role="tab">{% trans 'Información' %}</a>
                                                <div class="slide"></div>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#following" role="tab">{% trans 'Siguiendo' %}</a>
                                                <div class="slide"></div>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#followers" role="tab">{% trans 'Seguidores' %}</a>
                                                <div class="slide"></div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="timeline">
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    {% include 'comments/tools/new_comment_card.html' with chanel='profile' %}
                                                </div>
                                                <div class="col-sm-4">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="about">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5 class="card-header-text">{% trans 'Informacion General' %}</h5>
                                                        </div>
                                                        <div class="card-block">
                                                            <div id="view-info" class="row">
                                                                <div class="col-lg-6 col-md-12">
                                                                    <table class="table table-responsive m-b-0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <th class="social-label b-none p-t-0">{% trans 'Nombre' %}</th>
                                                                                <td class="social-user-name b-none p-t-0 text-muted">{{ per.get_full_name }}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th class="social-label b-none">{% trans 'Usuario' %}</th>
                                                                                <td class="social-user-name b-none text-muted">@{{ per.username }}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th class="social-label b-none">{% trans 'Genero' %}</th>
                                                                                <td class="social-user-name b-none text-muted">{{ per.profile.get_gender_display }}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th class="social-label b-none">{% trans 'Lenguaje' %}</th>
                                                                                <td class="social-user-name b-none text-muted">{{ per.profile.get_lenguaje_display }}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th class="social-label b-none">{% trans 'Region' %}</th>
                                                                                <td class="social-user-name b-none text-muted">{% if per.profile.region %}{{ per.profile.region.region_name }}{% else %}{% trans 'Todo el Mundo' %}{% endif %}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="following"></div>
                                        <div class="tab-pane" id="followers"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal in" id="uploader-images" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn">
            <div class="card modal-body" id="uploader-images-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">{% trans 'Cerrar' %}</button>
                <button type="button" class="btn btn-ducrat ladda-button" data-style="expand-right" id="uploader-images-action">{% trans 'Guardar Imagen' %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static "bower_components/cropper/js/cropper.js" %}"></script>
    <script src="{% static "bower_components/cropper/js/jquery-cropper.js" %}"></script>
{% endblock %}